@use 'variables' as *;

.about {
	background-color: $bg-about;
}

.wrapper.about-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	max-width: max(40%, calc(320px * 0.9));
	text-align: center;
	padding: 5rem 0;
	img {
		width: 300px;
		border-radius: 50%;
	}
	h2 {
		font-family: $ff-primary;
		font-size: $fs-700;
		font-weight: $fw-700;
	}
	p {
		font-family: $ff-secondary;
		font-size: $fs-400;
		line-height: 1.75;
	}
	p:first-child {
		margin-bottom: 1rem;
	}
}
