@use 'variables' as *;

.contact {
	padding: 48px 0;
	color: $text-dark;
	background-color: $bg-contact;
	text-align: center;
	.contact-wrapper {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 50%;
		h2 {
			font-family: $ff-primary;
			font-size: $fs-700;
			font-weight: $fw-700;
			line-height: 1;
		}
		p {
			font-family: $ff-secondary;
		}
	}
}

.social-links {
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: flex-end;
	svg {
		width: 24px;
		height: auto;
		&:hover {
			fill: $text-accent;
		}
	}
}

.input-container {
	font-family: $ff-secondary;
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
	label {
		align-self: flex-start;
		font-family: $ff-primary;
		font-weight: $fw-400;
	}
	textarea {
		resize: none;
	}
}

button {
	border: none;
}
