$ff-primary: 'Roboto Condensed', sans-serif;
$ff-secondary: 'Lora', serif;

$text-dark: hsl(328, 48%, 5%);
$text-light: hsl(0, 0%, 100%);
$text-accent: hsl(145, 26%, 29%);
$bg-about: hsl(0, 0%, 100%);
$bg-skills: hsl(145, 26%, 29%);
$bg-projects: #f7f3f2;
$bg-contact: hsl(90, 27%, 71%);
$bg-footer: hsl(145, 26%, 29%);
$bg-button: hsl(0, 48%, 73%);

$fs-400: 1rem;
$fs-500: 1.5rem;
$fs-600: 2.25rem;
$fs-700: 3.375rem;
$fs-800: 5.0625rem;
$fs-900: 7.59375rem;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
